<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>PameldingServlet</display-name>
    <welcome-file-list>
        <welcome-file>PameldingServlet</welcome-file>
        <welcome-file>BekreftelseServlet</welcome-file>
        <welcome-file>LoggetUtServlet</welcome-file>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>

    <servlet>
        <display-name>PameldingServlet</display-name>
        <servlet-name>PameldingServlet</servlet-name>
        <servlet-class>no.hvl.dat108.PameldingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PameldingServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
